/*--------------------    default settings    --------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,nav ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor: pointer;}
a:hover{text-decoration: none;}
button{cursor: pointer;outline: none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*--------------------    user settings    --------------------*/
body{background:#fff;width:100%;color:#3b5e94;font-size:16px;font-family: 'Exo 2', sans-serif;line-height:1.25;}
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix:after {content: "";display: table;clear: both;}

/* all */
::-webkit-input-placeholder { color: #3b5e94; font-size: 18px;font-weight: 100;}
::-moz-placeholder { color: #3b5e94; font-size: 18px;font-weight: 100;} /* firefox 19+ */
:-ms-input-placeholder { color: #3b5e94; font-size: 18px;font-weight: 100;} /* ie */
input:-moz-placeholder { color: #3b5e94; font-size: 18px;font-weight: 100;}
input, textarea {outline:none;}
input[type='text'], input[type='tel'], input[type='password'], input[type='email'], textarea{background:transparent;width:100%;height:40px;color:#3b5e94;font-size:18px;font-family: 'Exo 2', sans-serif;border:1px solid #3b5e94;border-radius:2px;padding:0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='text']:hover, input[type='tel']:hover, input[type='password']:hover, input[type='email']:hover, textarea:hover {/* input hover */}
input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus{/* input active */}
textarea{height:60px;line-height: 1;padding:10px 15px;overflow:auto;resize:none;}

h2{
	position: relative;
	color: #168de2;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	b{
		color: #f1592d;
	}
}
/*--------------------    all settings    --------------------*/
.container{
	position:relative;
	margin:0 auto;
	width:940px;
	padding: 0 10px;
}
	.container:after{
		content: "";
		display: table;
		clear: both;
	}

.a-button{
	position: relative;
	display: inline-block;
	background: inherit;
	width: 100%;
	color: inherit;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a-button:hover{
	background: inherit;
}
.a-button:active{
	background: inherit;
}

/*--------------------    header    --------------------*/
header{
	position: relative;
}
	.header-top{
		position: relative;
		background: #168de2;
		color: #fff;
	}
		.work-loc{
			position: relative;
			float: left;
			padding: 5px 0 5px 25px;
			&:before{
				content: url('../img/loc.png');
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
		.menu-bar{
			position: relative;
			display: none;
			float: right;
			width: 30px;
			border-radius: 2px;
			border: 1px solid #fff;
			padding: 5px;
			margin: 3px 0;
			cursor: pointer;
			box-sizing: border-box;
			&:hover, &.active{
				border-color: #f1592d;
				.icon-bar{
					background: #f1592d;
				}
			}
			&:active{
				border-color: #fff;
				.icon-bar{
					background: #fff;
				}
			}
		}
			.icon-bar{
				background: #fff;
				height: 2px;
				margin-top: 3px;
				&:first-child{
					margin-top: 0;
				}
			}
		.top-menu{
			float: right;
			ul{
				li{
					float: left;
					a{
						display: block;
						color: #fff;
						font-size: 14px;
						line-height: 30px;
						text-align: center;
						text-decoration: none;
						padding: 0 10px;
						&:hover, &.active{
							background: #f1592d;
						}
					}
				}
			}
		}
	.header-bottom{
		position: relative;
		box-shadow: 0 3px 5px rgba(153,153,153,0.35);
		padding: 8px 0;
	}
		.logo{
			position: relative;
			float: left;
			width: 270px;
			a{
				display: table;
				width: 100%;
				text-decoration: none;
			}
		}
			.logo-img{
				display: table-cell;
				vertical-align: middle;
				width: 50px;
				img{
					max-width: 100%;
				}
			}
			.logo-text{
				display: table-cell;
				vertical-align: middle;
				color: #3b5e94;
				font-size: 19px;
					line-height: 1;
				padding-left: 10px;
				strong{
					display: block;
					color: #007ccd;
					font-size: 24px;
					font-weight: 500;
					text-transform: uppercase;


				}
			}
		.contacts{
			float: right;
			padding: 5px 0;
		}
			.contacts-inner{
				display: table;
				width: 100%;
			}
				.contacts-left{
					display: table-cell;
					vertical-align: middle;
					width: 260px;
				}
					.contacts-email{
						position: relative;
						padding-left: 35px;
						&:before{
							content: url('../img/icon-email.png');
							position: absolute;
							left: 0;
							top: 50%;
							line-height: 0;
							margin-top: -11px;
						}
						a{
							color: #007ccd;
							font-size: 18px;
							font-weight: 500;
							text-decoration: none;
						}
					}
				.contacts-right{
					display: table-cell;
					vertical-align: middle;
					width: 250px;
				}
					.contacts-phone{
						position: relative;
						font-size: 14px;
						font-weight: 500;
						padding-left: 40px;
						&:before{
							content: url('../img/icon-tel.png');
							position: absolute;
							left: 0;
							top: 50%;
							line-height: 0;
							margin-top: -11px;
						}
						a{
							color: #007ccd;
							font-size: 26px;
							font-weight: 500;
							text-decoration: none;
						}
					}
/*--------------------    head    --------------------*/
.head{
	position: relative;
}
	.head-inner{
		background: url('../img/map-bg.png') left 70px top 10px no-repeat;
		padding-top: 40px;
	}
		.head-text{
			width: 600px;
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 140px;
		}
		.head-img{
			position: absolute;
			right: -75px;
			top: 35px;
		}
		.head-timer{
			position: relative;
			background: #168de2;
			width: 550px;
			color: #f1f1f1;
			font-size: 36px;
			border-radius: 2px;
			padding: 20px 10px 20px 80px;
			margin-bottom: 40px;
			box-sizing: border-box;
			&:before{
				content: url('../img/timer.png');
				position: absolute;
				left: 10px;
				top: 10px;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: -25px;
				right: 75px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 25px 20px 0 20px;
				border-color: #168de2 transparent transparent transparent;
			}
			.blick{
				position: relative;
				display: inline-block;
				vertical-align: bottom;
				overflow: hidden;
				&:before{
				    position: absolute;
				    top: 0;
				    left: -20%;
				    z-index: 2;
				    display: block;
				    content: '';
				    width: 30px;
				    height: 100%;
					background: -moz-linear-gradient(left,  rgba(32,124,202,0) 0%, rgba(255,255,255,0.5) 50%, rgba(32,124,202,0) 100%); /* FF3.6-15 */
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,124,202,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(100%,rgba(32,124,202,0))); /* Chrome4-9,Safari4-5 */
					background: -webkit-linear-gradient(left,  rgba(32,124,202,0) 0%,rgba(255,255,255,0.5) 50%,rgba(32,124,202,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: -o-linear-gradient(left,  rgba(32,124,202,0) 0%,rgba(255,255,255,0.5) 50%,rgba(32,124,202,0) 100%); /* Opera 11.10-11.50 */
					background: -ms-linear-gradient(left,  rgba(32,124,202,0) 0%,rgba(255,255,255,0.5) 50%,rgba(32,124,202,0) 100%); /* IE10 preview */
					background: linear-gradient(to right,  rgba(32,124,202,0) 0%,rgba(255,255,255,0.5) 50%,rgba(32,124,202,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

				    -webkit-transform: skewX(-25deg);
				    transform: skewX(-25deg);

				    -webkit-animation: blick 2s infinite; /* Chrome, Safari, Opera */
    				animation: blick 2s infinite;
				}
			}
		}
		@keyframes blick {
		    0% {left: -20%;}
		    20% {left: -20%;}
		    80% {left: 120%;}
		    100% {left: 120%;}
		}
/*--------------------    form    --------------------*/
form{
	input[type='text'], input[type='tel'], input[type='password'], input[type='email']{
		float: left;
		width: 220px;
	}
	input[type='submit']{
		background: #f1592d;
		width: 100%;
		height: 40px;
		color: #fff;
		font-size: 18px;
		border: 0;
		border-radius: 2px;
		cursor: pointer;
		box-sizing: border-box;
	}
}
.form{
	position: relative;
}
	.form-box{
		background: #fff;
		padding-left: 60px;
		margin: 0 -10px;
		border-style: solid;
		border-width: 38px 39px;
		-moz-border-image: url(../img/form-border.png) 38 39 round;
		-webkit-border-image: url(../img/form-border.png) 38 39 round;
		-o-border-image: url(../img/form-border.png) 38 39 round;
		border-image: url(../img/form-border.png) 38 39 round;
		box-sizing: border-box;
		&:before{
			content: '';
			position: absolute;
			background: url('../img/form-before.png');
			background-size: 100% 100%;
			left: 20px;
			bottom: -40px;
			width: 132px;
			height: 76px;
		}
		&:after{
			content: '';
			position: absolute;
			background: url('../img/form-after.png');
			background-size: 100% 100%;
			right: 20px;
			bottom: -40px;
			width: 132px;
			height: 76px;
		}
		.form-title{
			color: #3b5e94;
			margin-bottom: 30px;
			&:before{
				content: url('../img/formbox-arr.png');
				left: -50px;
				top: 40px;
				right: auto;
			}
		}
		input[type='text'], input[type='tel'], input[type='password'], input[type='email']{
			width: 300px;
			font-size: 24px;
			padding: 0 10px;
		}
		.form-button{
			width: 300px;
			input[type='submit']{
				font-size: 24px;
			}
		}
		.form-info{
			position: relative;
			float: left;
			width: 170px;
			font-size: 12px;
			font-weight: 500;
			margin-left: 30px;
		}
		/* all */
		::-webkit-input-placeholder {font-size: 24px;}
		::-moz-placeholder {font-size: 24px;} /* firefox 19+ */
		:-ms-input-placeholder { font-size: 24px;} /* ie */
		input:-moz-placeholder { font-size: 24px;}
	}
		.form-title{
			position: relative;
			color: #168de2;
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 20px;
			&:before{
				content: url('../img/form-arr.png');
				position: absolute;
				top: 18px;
				right: 0;
			}
		}
		.form-body{
			position: relative;
			overflow: hidden;
		}
			.form-button{
				position: relative;
				float: left;
				width: 220px;
				margin-left: 20px;
				&:before{
					content: '';
					background: #168de2;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 0;
					height: 4px;
					border-radius: 0 0 2px 2px;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
				&:hover:before{
					width: 100%;
				}
				&:active:before{
					width: 0%;
				}
			}
/*--------------------    products    --------------------*/
.products{
	position: relative;
	padding-top: 50px;
}
	.products-inner{
		font-size: 0;
		text-align: center;
		padding-top: 40px;
	}
		.products-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 220px;
			margin-left: 20px;
			margin-bottom: 40px;
			&:nth-child(4n+1){
				margin-left: 0;
			}
		}
			.products-head{
				position: relative;
				display: table;
				width: 100%;
			}
				.products-img{
					display: table-cell;
					vertical-align: middle;
					background: #fff;
					height: 140px;
					text-align: center;
					border: 1px solid #ccc;
					border-radius: 2px;
					img{
						max-width: 100%;
					}
				}
			.products-body{
				position: relative;
				text-align: left;
				padding-top: 10px;
			}
				.products-title{
					font-size: 24px;
					font-weight: 300;
					margin-bottom: 10px;
				}
				.products-link{
					position: relative;
					a{
						display: inline-block;
						vertical-align: top;
						font-size: 14px;
						color: #f1592d;
						line-height: 24px;
						text-align: center;
						text-decoration: none;
						border-radius: 2px;
						border: 1px solid #ccc;
						padding: 0 10px;
						span{
							border-bottom: 1px dashed;
						}
						&:hover{
							border-color: #f1592d;
						}
						&:active{
							border-color: #ccc;
						}
					}
				}
/*--------------------    numbers    --------------------*/
.numbers{
	position: relative;
	padding-top: 20px;
}
	.numbers-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 40px;
	}
		.numbers-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 140px;
			text-align: left;
			margin-left: 60px;
			margin-bottom: 40px;
			box-sizing: border-box;
			&:first-child{
				margin-left: 0;
			}
		}
			.numbers-head{
				color: #168de2;
				font-size: 72px;
				font-weight: 500;
				border-bottom: 2px solid #f1592d;
				padding-bottom: 10px;
				margin-bottom: 5px;
			}
			.numbers-body{
				font-size: 18px;
				font-weight: 300;
			}
/*--------------------    benefits    --------------------*/
.benefits{
	position: relative;
	background: #168de2;
	padding: 40px 0 20px;
	h2{
		color: #fff;
	}
}
	.benefits-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 30px;
	}
		.benefits-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			color: #fff;
			width: 220px;
			text-align: left;
			margin-left: 20px;
			margin-bottom: 30px;
			overflow: hidden;
			&:first-child{
				margin-left: 0;
			}
		}
			.benefits-head{
				float: left;
				width: 70px;
				height: 70px;
				img{
					max-width: 100%;
				}
			}
			.benefits-body{
				float: left;
				width: 150px;
				font-size: 14px;
				font-weight: 300;
				padding-left: 10px;
				box-sizing: border-box;
				strong{
					display: block;
					font-weight: 500;
				}
			}
/*--------------------    scope    --------------------*/
.scope{
	position: relative;
	padding-top: 50px;
}
	.scope-inner{
		position: relative;
		padding-top: 40px;
	}
		.scope-tabs{
			position: relative;
			display: table;
			width: 100%;
		}
			.tab-box{
				display: table-cell;
				vertical-align: bottom;
				width: 14%;
				height: 95px;
				color: #999999;
				text-align: center;
				padding: 5px;
				box-sizing: border-box;
				cursor: pointer;
				&.active, &:hover{
					background: #f7f7f7;
					color: #3b5e94;
					.tab-img{
						-webkit-filter: grayscale(0);
	    				filter: grayscale(0);
	    				opacity: 1;
					}
				}
			}
				.tab-img{
					line-height: 0;
					margin-bottom: 5px;
					-webkit-filter: grayscale(100%);
    				filter: grayscale(100%);
    				opacity: 0.5;
					img{
						max-width: 100%;
					}
				}
				.tabs-title{
					font-size: 12px;
					font-weight: 500;
				}
		.scope-block{
			position: relative;
			background: #f7f7f7;
		}
			.scope-box{
				position: relative;
				display: none;
				padding-top: 40px;
				&.active{
					display: block;
				}
			}
				.scope-title{
					font-size: 30px;
					font-weight: 500;
					margin-bottom: 20px;
				}
				.scope-body{
					position: relative;
					overflow: hidden;
				}
					.scope-left{
						position: relative;
						float: left;
						width: 540px;
					}
						.scope-text{
							font-size: 18px;
							margin-bottom: 40px;
						}
					.scope-right{
						float: right;
						width: 380px;
						line-height: 0;
						img{
							max-width: 100%;
						}
					}
			.scope-form{
				width: 460px;
				padding: 20px 0;
			}
/*--------------------    details    --------------------*/
.details{
	position: relative;
	background: url('../img/details-bg.png') center 20px no-repeat;
	padding-top: 50px;
}
	.details-inner{
		position: relative;
		height: 330px;
		padding-top: 40px;
	}
		.details-box{
			position: absolute;
			top: 0;
			left: 0;
			font-size: 24px;
			font-weight: 500;
		}
			.detail1{
				top: 40px;
				left: 240px;
			}
			.detail2{
				top: 40px;
				left: 560px;
			}
			.detail3{
				top: 170px;
				left: 680px;
			}
			.detail4{
				top: 300px;
				left: 560px;
			}
			.detail5{
				top: 300px;
				left: 240px;
			}
	.details-mobile{
		position: relative;
		display: none;
		padding-top: 30px;
		img{
			max-width: 100%;
		}
	}
/*--------------------    other-products    --------------------*/
.other-products{
	position: relative;
	padding-top: 30px;
}
	.other-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 40px;
	}
		.other-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 220px;
			text-align: left;
			margin-left: 20px;
			margin-bottom: 20px;
			&:nth-child(4n+1){
				margin-left: 0;
			}
		}
			.other-head{
				height: 240px;
				border-radius: 2px;
				border: 1px  solid #ccc;
				margin-bottom: 15px;
				box-sizing: border-box;
				overflow: hidden;
				img{
					max-width: 100%;
				}
			}
			.other-body{
				color: #168de2;
				font-size: 18px;
			}
/*--------------------    payment    --------------------*/
.payment{
	position: relative;
	padding: 40px 0;
}
	.payment-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 40px;
	}
		.payment-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 250px;
			text-align: left;
			margin-left: 70px;
			margin-bottom: 15px;
			&:first-child{
				margin-left: 0;
			}
		}
			.payment-head{
				position: relative;
				margin-bottom: 15px;
			}
				.payment-img{
					position: relative;
				}
			.payment-body{
				position: relative;
			}
				.payment-title{
					position: relative;
					font-size: 30px;
					font-weight: 500;
					margin-bottom: 15px;
				}
				.payment-list{
					position: relative;
					counter-reset: count;
					ul{
						li{
							position: relative;
							counter-increment: count;
							font-size: 16px;
							font-weight: 300;
							padding-left: 30px;
							margin-bottom: 20px;
							&:before{
								content: counter(count);
								position: absolute;
								left: 0;
								top: 0;
								width: 16px;
								height: 16px;
								font-size: 12px;
								font-weight: 500;
								line-height: 12px;
								text-align: center;
								border-radius: 50%;
								border: 1px solid #f15d32;
								box-sizing: border-box;
							}
						}
					}
				}
	.payment-info{
		position: relative;
		text-align: center;
		padding-top: 20px;
	}
		.info-box{
			position: relative;
			display: inline-block;
			font-size: 20px;
			border-radius: 2px;
			border: 1px solid #ccc;
			padding: 10px 30px;
			box-sizing: border-box;
			img{
				vertical-align: middle;
				margin-right: 10px;
			}
		}
/*--------------------    delivery    --------------------*/
.delivery{
	position: relative;
	padding-top: 50px;
}
	.delivery-inner{
		padding-top: 40px;
		overflow: hidden;
	}
		.delivery-left{
			float: left;
			width: 460px;
			padding-top: 10px;
		}
			.delivery-list{
				counter-reset: count;
				margin-bottom: 20px;
				overflow: hidden;
				ul{
					li{
						counter-increment: count;
						position: relative;
						color: #3b5e94;
						font-weight: 300;
						padding-left: 30px;
						margin-bottom: 15px;
						&:before{
							content: counter(count);
							position: absolute;
							left: 0;
							top: 2px;
							width: 16px;
							height: 16px;
							color: #3b5e94;
							font-size: 12px;
							font-weight: 500;
							line-height: 12px;
							text-align: center;
							border: 1px solid #f15d32;
							border-radius: 50%;
							box-sizing: border-box;
						}
					}
				}
			}	
			.delivery-bonus{
				font-size: 20px;
				border-radius: 2px;
				border: 1px solid #cccccc;
				padding: 15px 30px;
				box-sizing: border-box;
				img{
					vertical-align: middle;
					margin-right: 30px;
				}
			}
		.delivery-right{
			float: right;
			width: 440px;
			text-align: center;
			img{
				max-width: 100%;
			}
		}
/*--------------------    scheme-work    --------------------*/
.scheme-work{
	position: relative;
	padding: 50px 0 40px;
}
	.scheme-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 40px;
	}
		.scheme-box{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 220px;
			text-align: left;
			border: 1px solid #cccccc;
			border-radius: 2px;
			margin-left: 20px;
			margin-bottom: 30px;
			box-sizing: border-box;
			&:nth-child(4n+1){
				margin-left: 0;
			}
		}
			.scheme-head{
				display: table;
				width: 100%;
			}
				.scheme-img{
					position: relative;
					display: table-cell;
					vertical-align: bottom;
					height: 100px;
					text-align: center;
					padding: 15px 15px 0;
					img{
						max-width: 100%;
					}
				}
			.scheme-body{
				padding: 15px 30px;
			}
				.scheme-title{
					position: relative;
					color: #168de2;
					font-size: 18px;
					font-weight: 500;
					letter-spacing: -0.01em;
					padding-bottom: 15px;
					margin-bottom: 5px;
					&:before{
						content: '';
						background: #f1592d;
						position: absolute;
						left: 0;
						bottom: 0;
						height: 2px;
						width: 80%;
					}
				}
				.scheme-text{
					color: #3b5e94;
					font-size: 16px;
					font-weight: 300;
					letter-spacing: -0.01em;
				}
/*--------------------    certificate    --------------------*/
.clients{
	position: relative;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 40px 0;
}
	.clients-inner{
		position: relative;
		text-align: justify;
		padding-top: 30px;
		img{
			vertical-align: middle;
			margin-bottom: 10px;
		}
	}
		.clients-row{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
/*--------------------    certificate    --------------------*/
.certificate{
	position: relative;
	padding-top: 50px;
}
	.certificate-inner{
		position: relative;
		font-size: 0;
		text-align: center;
		padding-top: 40px;
		overflow: hidden;
	}
		.certificate-box{
			display: inline-block;
			vertical-align: top;
			width: 220px;
			height: 294px;
			border: 10px solid #168de2;
			margin-left: 20px;
			box-sizing: border-box;
			&:nth-child(4n+1){
				margin-left: 0;
			}
			img{
				width: 100%;
			}
		}
/*--------------------    treatment    --------------------*/
.treatment{
	position: relative;
	padding-top: 50px;
}
	.treatment-inner{
		position: relative;
		padding: 40px 0;
		overflow: hidden;
	}
		.treatment-head{
			position: relative;
			float: left;
			width: 220px;
			height: 290px;
			border: 1px solid #cccccc;
			margin-bottom: 20px;
			box-sizing: border-box;
			overflow: hidden;
			img{
				max-width: 100%;
			}
		}
		.treatment-body{
			position: relative;
			float: left;
			width: 550px;
			margin-left: 20px;
		}
			.treatment-title{
				color: #f1592d;
				font-size: 24px;
				font-weight: 500;
				line-height: 1;
				margin-bottom: 10px;
			}
			.treatment-prof{
				color: #168de2;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.treatment-text{
				color: #3b5e94;
				font-size: 18px;
				font-weight: 300;
				margin-bottom: 30px;
			}
			.treatment-form{
				width: 460px;
			}
/*--------------------    map    --------------------*/
.map{
	position: relative;
}
	.requisite-box{
		position: absolute;
		background: #fff;
		top: 80px;
		left: 10px;
		width: 300px;
		border: 5px solid #168de2;
		padding: 20px 15px;
		box-sizing: border-box;
		z-index: 10;
	}
		.requisite-title{
			color: #f1592d;
			font-size: 30px;
			margin-bottom: 10px;
		}
		.requisite-text{
			color: #333333;
			font-size: 14px;
		}
	#map{
		height: 500px;
	}
/*--------------------    footer    --------------------*/
footer{
	position: relative;
}
	.footer-top{
		position: relative;
		padding: 8px 0;
	}
	.footer-bottom{
		position: relative;
		background: #168de2;
		color: #fff;
	}
/*--------------------    modal    --------------------*/
.modal{
	position: relative;
	display: none;
	background: #fff;
	width: 780px;
	color: #3b5e94;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.modal-head{
		background: #f9f9f9;
		border: 1px solid #ccc;
		padding: 15px 20px;
		box-sizing: border-box;
	}
		.modal-title{
			color: #f1592d;
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 10px;
		}
		.modal-details{
			position: relative;
			overflow: hidden;
		}
			.detail-left{
				position: relative;
				float: left;
				width: 220px;
			}
				.detail-img{
					position: relative;
					vertical-align: middle;
					background: #fff;
					width: 220px;
					height: 190px;
					text-align: center;
					border: 1px solid #ccc;
					box-sizing: border-box;
					img{
						max-width: 100%;
					}
				}
			.detail-right{
				position: relative;
				float: right;
				width: 500px;
				table{
					width: 100%;
					thead{
						tr{
							td,th{
								vertical-align: top;
								height: 26px;
								font-size: 16px;
								font-weight: 400;
								line-height: 1;
								padding: 0;
							}
						}
					}
					tbody{
						tr{
							td{
								font-weight: 300;
							}
						}
					}
					tr{
						border-bottom: 1px solid #ccc;
						&:last-child{
							border: 0;
						}
						td{
							vertical-align: middle;
							font-size: 12px;
							font-weight: 300;
							padding: 3px 0;
							&:last-child{
								width: 50px;
								text-align: right;
							}
						}
					}
				}
			}
				.detail-title{
					font-size: 16px;
				}
	.modal-body{
		position: relative;
		padding: 10px 20px;
	}
		.modal-text{
			width: 600px;
			font-size: 14px;
			font-weight: 300;
			margin-bottom: 20px;
			strong{
				display: block;
				font-size: 18px;
				font-weight: 400;
				margin-bottom: 10px;
			}
		}
		.modal-form{
			width: 460px;
			margin: 0 auto 10px;
		}
body .fancybox-close{
	background: url('../img/close.png');
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
}



/*--------------------    media    --------------------*/
@media only screen and (max-width:1100px) {
	.head-img{right: 0;}
}
@media only screen and (max-width:960px) {
	.container{width: 740px;}
	.menu-bar{display: block;}
	.top-menu{display: none;float: none;width: 100%;overflow: hidden;
		ul li{float: none;}
	}
	.logo{float: none;margin: 0 auto;}
	.contacts{float: none;width: 510px;margin: 0 auto;}
	.head-inner{background-position: center 10px;}
	.head-text{width: auto;}
	.head-img{display: none;}
	.form-box{
		.form-info{float: none;width: 100%;padding-top: 10px;margin-left: 0;overflow: hidden;}
	}
	.products-box{
		&:nth-child(4n+1){margin-left: 20px;}
		&:nth-child(3n+1){margin-left: 0;}
	}
	.numbers-box{width: 130px;margin-left: 20px;}
	.benefits-box{width: 170px;}
	.benefits-head{float: none;margin-bottom: 10px;}
	.benefits-body{float: none;padding-left: 0;}
	.scope-left{width: 460px;}
	.scope-text{margin-bottom: 0;}
	.scope-right{width: 260px;}
	.detail1 {top: 35px;left: 140px;}
	.detail2 {top: 35px;left: 350px;}
	.detail3 {top: 180px;left: 540px;}
	.detail4 {top: 300px;left: 460px;}
	.detail5 {top: 300px;left: 140px;}
	.other-box{width: 170px;}
	.other-head{height: 185px;}
	.payment-box{width: 230px;margin-left: 20px;}
	.info-box{padding: 10px 10px;letter-spacing: -0.02em;}
	.delivery-right{width: 280px;}
	.scheme-box{width: 170px;}
	.scheme-body{padding: 10px 5px;}
	.certificate-box{width: 170px;height: 225px;}
	.treatment-body{width: 460px;}
	.modal{width: 740px;}
	.detail-right{width: 460px;}
}
@media only screen and (max-width:767px){
	h2{font-size: 26px;}
	.container{width: 300px;}
	.contacts{width: auto;}
	.contacts-inner{display: block;}
	.contacts-left{display: block;width: 250px;margin: 10px auto;}
	.contacts-right{display: block;margin: 0 auto;}
	.contacts-phone{padding-left: 35px;}
	.head-inner{background-size: 100% auto;}
	.head-text{font-size: 22px;margin-bottom: 30px;text-align: center;}
	.head-timer{width: auto;font-size: 26px;
		.blick{
			&:before{content: none;}
		}
		&:before{top: 50%;margin-top: -30px;}
		&:after{right: 50%;margin-right: -20px;}
	}
	.products-box{width: 220px;margin: 0 auto 20px;
		&:nth-child(4n+1){margin: 0 auto 20px;}
	}
	.products-body{padding-top: 0;text-align: center;}
	.numbers-box{width: 220px;text-align: center;margin: 0 auto 20px;}
	.benefits-box{width: 220px;text-align: center;margin: 0 auto 20px;}
	.benefits-head{width: auto;}
	.benefits-body{width: auto;}
	.scope-tabs{display: block;}
	.tab-box{display: block;width: auto;height: 40px;}
	.tab-img{display: inline-block;vertical-align: middle;margin-bottom: 0;width: 25px;margin-right: 10px;}
	.tabs-title{display: inline-block;vertical-align: middle;}
	.scope-box{padding-top: 20px;}
	.scope-left{float: none;width: auto;}
	.scope-title{font-size: 24px;margin-bottom: 10px;}
	.scope-text{font-size: 16px;}
	.scope-form{width: auto;}
	.scope-right{float: none;width: auto;}
	.details{background: transparent;}
	.details-inner{display: none;}
	.details-mobile{display: block;}
	.other-box{width: 220px;margin: 0 auto 20px;text-align: center;}
	.other-head{height: 240px;margin-bottom: 10px;}
	.payment-box{width: 250px;margin: 0 auto 20px;}
	.payment-img{text-align: center;}
	.payment-title{text-align: center;font-size: 24px;}
	.payment-list ul li{margin-bottom: 10px;}
	.info-box{padding-left: 50px;text-align: left;
		img{margin-left: -40px;vertical-align: text-bottom;}
	}
	.form-box{padding-left: 0;text-align: center;
		.form-title{padding-right: 0;
			&:before{content: none;}
		}
		input[type="text"], input[type="tel"], input[type="password"], input[type="email"]{float: none;width: 100%;margin-bottom: 15px;}
		.form-button{float: none;width: auto;margin-left: 0;}
	}
	.form-title{font-size: 20px;padding-right: 30px;}
	form{
		input[type="text"], input[type="tel"], input[type="password"], input[type="email"]{float: none;width: 100%;margin-bottom: 15px;}
	}
	.delivery-left{float: none;width: auto;margin-bottom: 20px;padding-top: 0;}
	.delivery-bonus{padding-left: 70px;
		img{vertical-align: text-bottom;margin-right: 15px;margin-left: -50px;}
	}
	.delivery-right{float: none;width: auto;}
	.scheme-box{width: 220px; margin: 0 0 20px;text-align: center;}
	.scheme-body {padding: 15px 30px;}
	.scheme-title:before{left: 10%;}
	.clients-inner img{display: block;margin: 0 auto 20px;}
	.clients-row{display: block;}
	.certificate-box{width: 220px;height: 294px;margin: 0 0 20px;}
	.treatment-head{float: none;margin: 0 auto 20px;}
	.treatment-body{float: none;width: auto;margin-left: 0;text-align: center;}
	.treatment-text{font-size: 16px;}
	.treatment-form{width: auto;}
	.form-button{float: none;width: auto;margin-left: 0;}
	.requisite-box{position: relative;left: auto;top: auto;margin-bottom: 30px;}
	.modal{width: 300px;}
	.detail-left{float: none;margin: 0 auto 10px;}
	.detail-right{float: none;width: auto;}
	.modal-text{width: auto;}
	.modal-form{width: auto;}
}